<!DOCTYPE html>
<html>
  <body>
    <h2>Welcome to Cooling Calculator!</h2>
    <p>We're happy to inform you that your user account has been activated.</p>
    <p>You can now log in and start using our services.</p>
    <p>If you have any questions or need assistance, feel free to reply to this email.</p>
    <p>Happy calculating!</p>
  </body>
</html>
