<!DOCTYPE html>
<html>
  <body>
    <h2>Your Cooling Calculator Account Activation</h2>
    <p>Your user account has been successfully verified.</p>
    <p>Please note that your user account is currently inactive.</p>
    <p>We will review the provided data and email you, once your user account has been activated.</p>
    <p>We aim to complete the activation as soon as possible. If you do not receive an email from us or have any
      questions, please feel free to reply to this email.</p>
  </body>
</html>
