<!DOCTYPE html>
<html>
  <body>
    <h2>Welcome to Cooling Calculator!</h2>
    <p>Your user account has been successfully registered!</p>
    <p>Click on the following link to verify your account:</p>
    <a href="<%= verificationLink %>" style="display: inline-block; padding: 10px 20px; font-size: 20px;
      text-align: center; text-decoration: none; color: #fff; background-color: #4CAF50; border: none;
      border-radius: 15px; box-shadow: 0 9px #999;">
      Verify Account
    </a>
    <p>If you have any questions feel free to contact us!</p>
  </body>
</html>