<!DOCTYPE html>
<html>
  <head>
    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      }
      .button:hover {background-color: #3e8e41}
      .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    </style>
  </head>
  <body>
    <h2>Welcome to Cooling Calculator!</h2>
    <p>Your user account has been successfully registered!</p>
    <p>Click on the following button to verify your account:</p>
    <button class="button" onclick="window.location.href='<%= verificationLink %>'">Verify Account</button>
    <p>If you have any questions feel free to contact us!</p>
  </body>
</html>